@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--border-color: #0073EA;
}


#__next {
	height: 100vh;
	/* direction: rtl; */
	font-family: 'Heebo', sans-serif;
}

html {
	@apply h-full;
}

body {
	/* background-color: #FAFBFC; */
	background-color: #fff;
	color: #172B4D;
}

footer {
	margin-top: auto;
	margin-top: 3rem;
}

footer p {
	font-size: 0.8rem !important;
	color: #626f86;
}


a {
	color: #0052cc;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.app-navbar {
	height: 55px;
}

.app-navbar ul {
	min-width: 100%;
}

.app-navbar li {
	padding-inline: 0 !important;
	margin: 0;
}

.app-navbar li:last-child {
	margin: 0 1rem;
	background-color: #172B4D;
	padding: 20px;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu:hover::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-active::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-open::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-open::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected::after {
	border-bottom-width: 0;
	border-bottom-color: #1677ff00;
}



.app-navbar a {
	padding: 8px;
	margin: 0 0.5rem;
	transition: all 30ms ease-in-out;
}

.app-navbar a:hover {
	background-color: #E1EDFF;
	color: #0052cc !important;
	border-radius: 5px;
	/* padding: 4px; */
}

.menu-actions-svg-container {
	color: #344563;
	font-size: 19px;
	margin: 0 0.4rem;
	border-radius: 50%;
	padding: 6px;
	cursor: pointer;
}

.menu-actions-svg-container:hover,
.custom-menu-item.ant-menu-item-selected,
.menu-actions-svg-container:active,
.menu-actions-svg-container:focus,
.custom-menu-item.ant-menu-item-selected:focus {
	color: #0052CC;
	background-color: rgba(222, 235, 255, 0.9);
}

.menu-actions-svg-container:active,
.menu-actions-svg-container:focus {
	background-color: rgba(214, 231, 255, 0.9);
}


.ant-menu-light .ant-menu-item-group-title,
.ant-menu-light>.ant-menu .ant-menu-item-group-title {
	font-size: 0.8rem;
	color: #344563;
	font-weight: 500;
	padding: auto 16px;
}

.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-item,
.ant-menu .ant-menu-item-group .ant-menu-item-group-list .ant-menu-submenu-title {
	padding-inline: 16px 0;
}


.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
	background-color: #f4f5f7;
}

/* .app-navbar .ant-btn-default,
.app-navbar .ant-btn-default:hover {
	background-color: #ffffff;
	border-right: 0;
	border-color: #d9d9d9;
 }
 .app-navbar .ant-btn-default:active {
	 border-radius: 0px!important;
	} */


.app-navbar .ant-btn-default {
	background-color: #ffffff;

}

/* ant card */
.ant-card:not(.ant-card-bordered) {
	border: 1px solid #D0D4E4;
}

.ant-card-hoverable:hover {
	box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
	border-color: transparent;
}


.ant-tooltip .ant-tooltip-inner {
	min-height: 25px;
	padding: 3px 8px;
	font-size: 0.7rem;
}

.ant-breadcrumb a:hover {
	/* color: rgba(0, 0, 0, 0.88); */
	background-color: #EAEDF1;
}


.ant-drawer-wrapper-body {
	overflow-x: hidden;
}

.ant-drawer-wrapper-body:hover {
	resize: horizontal;
	overflow-x: hidden;
}


.ant-btn-primary:not(:disabled) {
	background-color: #0073EA;
}

.ant-btn-primary:not(:disabled):hover {
	background-color: #0060B9;
}

/* Tasks */

.ant-drawer-content-wrapper {
	min-width: 32%;
}

.edit-task-input {
	border: 1px solid transparent;
	border-radius: 3px;
	border-color: transparent;
	background: transparent;
	width: -webkit-fill-available;

}

.edit-task-input::placeholder {
	color: #000;
}

.edit-task-input:hover {
	/* box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1); */
	/* border: 1px solid;
	border-color: #D4D8E1; */
	border: 1px solid transparent;
	background-color: #091e420f;
}

.edit-task-input:focus,
.edit-task-input:active {
	border: 1px solid;
	border-color: #4096ff;
	box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
	border-inline-end-width: 1px;
	outline: 0;
}





/* edit-priority-select */
.edit-task-select {
	width: -webkit-fill-available;
	/* width: 400px; */
}


.edit-task-select .ant-select .ant-select-selector {
	border-radius: 3px;
	border: 1px solid transparent !important;
	box-shadow: none !important;
	outline: none !important;
	border-radius: 3px;
}


.edit-task-select .ant-select .ant-select-selector:hover {

	border: 1px solid #fff !important;
	background-color: #091e420f !important;
	box-shadow: none !important;
	outline: none !important;
}

.edit-task-select .ant-select-selector:focus {
	border: 1px solid transparent !important;
	background-color: #091e420f !important;
	box-shadow: none !important;
	outline: none !important;
	padding: 20px !important;
}


.edit-task-select .ant-avatar {
	margin: 0 0.5rem 0 0;
}

.ant-select-dropdown .ant-avatar {
	margin: 0 0.5rem 0 0;
}


.task-details-ul h6 {
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
}

.task-details-ul li:not(:first-child, :last-child) {
	margin: 1rem 0;
}


.task-details-ul>div:not(:first-child, :last-child) {
	margin: 1rem 0;
}


/* Date picker input */
.edit-task-dueDatePicker {
	width: -webkit-fill-available;
}

.edit-task-dueDatePicker:hover {
	background-color: #091e420f !important;

}


/* custom ant design button */

.custom-ghost-button {
	background-color: #F1F2F4;
	color: #172B4D;
	border: 0;
	border-radius: 3px;
}

.custom-ghost-button:hover {
	background-color: #dcdfe4;
	color: #172b4d;

}

.custom-ghost-button:active {
	background-color: #b3b9c4;
	color: #172b4d;

}

/* collape */

.ant-collapse {
	background-color: #fff;
}

.ant-btn {
	border-radius: 3px;
}

.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
	padding: 7px 0;
	border-radius: 3px;
	min-width: 160px;
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
	position: relative;
	color: #626f86;
	font-weight: 400;
	text-align: start;
	background: #ffffff;
	border-bottom: 1px solid #091e420f;
	transition: background 0.2s ease;
	box-shadow: 0 6px 4px -4px #091e420f;
}



.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {

	color: #172b4d;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.971429;
}

.share-items-dropdown ul {
	min-width: 200px !important;
}

.followers-items-dropdown ul {
	min-width: 300px !important;
}

/* .followers-items-dropdown ul>li:nth-child(3):hover {
	background-color: transparent !important;
	cursor: auto;
} */

.ant-btn.css-dev-only-do-not-override-1vtf12y.ant-btn-text.ant-btn-icon-only.ant-dropdown-trigger.font-semibold.ant-dropdown-open {
	background: #e9f2ff;

}

.ant-btn.css-dev-only-do-not-override-1vtf12y.ant-btn-text.ant-btn-icon-only.ant-dropdown-trigger.font-semibold.ant-dropdown-open span {
	color: #0c66e4 !important;
}

.setting-buttons-container {
	display: flex;
}


.setting-buttons-container .ant-dropdown-open,
.attachments-setting-dropdown-container .ant-dropdown-open {
	background: #e9f2ff;
	color: #0c66e4;
}


.ant-tooltip .ant-tooltip-inner {
	min-width: 26px;
	min-height: 26px;
	padding: 4px 8px;
	color: #fff;
	text-align: start;
	text-decoration: none;
	word-wrap: break-word;
	background-color: #44546f;
	border-radius: 6px;
	/* box-shadow: 0 6px 16px 0 #44546f,0 3px 6px -4px #44546f,0 9px 28px 8px rgba(0, 0, 0, 0.05); */
}

.ant-tooltip .ant-tooltip-arrow {
	display: none;
	color: #44546f !important;
	/* background-color: #44546f; */
}

/* task attachments */

.attachment-details-container {
	font-size: 12px;
	padding: 7px;
	color: #172b4d;
	border-radius: 0 0 5px 5px;
	border: solid #d2d8e1;
	border-width: 0 1px 1px 1px;
	max-width: 180px;
	min-height: 52px;
}

.attachments-preview-group {
	gap: 10px;
	justify-content: flex-start;
	/* column-gap: 3px;
	row-gap: 10px; */
}

.attachments-preview-group .ant-image .ant-image-mask {
	background-color: #091e427d;
}


.ant-image-mask-info {
	display: none !important;
}

.attachments-preview-group .ant-image-mask-info {
	display: none !important;
}

.attachment-actions-button button {
	color: #44546F;
	background-color: #ffffff;
}

.attachment-actions-button button:hover {
	color: #44546F;
	background-color: #e6e6e6;
}

.attachment-card .attachment-actions-button {
	display: none;
}

.attachment-card:hover .attachment-actions-button {
	display: flex;
}